---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++23
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<agentos/'
    Priority: 1
  - Regex: '^<(nlohmann|fmt|hnswlib|duckdb|httplib)/'
    Priority: 2
  - Regex: '^<.*\.h(pp)?>'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 4
  - Regex: '.*'
    Priority: 5
SortIncludes: CaseSensitive

# Indentation
AccessModifierOffset: -4
IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None

# Line breaks
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeColon

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInParens: Never

# Penalties
PenaltyBreakAssignment: 25
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

# Misc
PointerAlignment: Right
DerivePointerAlignment: false
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
ReflowComments: true
Cpp11BracedListStyle: true
